<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-gb" lang="en-gb">
<head>
	<title>Morsels demo</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<link href="/static/css/style.css" rel="stylesheet" type="text/css">
	{% block extra_css %}{% endblock %}
</head>
<body>
<div id="content">{% block content %}{% endblock %}</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/jquery-ui.min.js"></script>
<script src="/static/js/libs/underscore.js"></script>
{% block extra_js %}{% endblock %}
<script src="/static/js/start.js"></script>
</body>
</html>

